appdirs==1.4.4
attrs==21.2.0
backcall==0.2.0
clldutils==3.10.0
colorlog==6.6.0
csvw==1.11.0
cycler==0.11.0
decorator==5.1.0
igraph==0.9.8
ipython==7.29.0
isodate==0.6.0
jedi==0.18.0
joblib==1.1.0
kiwisolver==1.3.2
latexcodec==2.0.1
lexibase==0.1.0
lingpy==2.6.8
lingrex==1.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
networkx==2.6.3
numpy==1.21.4
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.22
ptyprocess==0.7.0
pybtex==0.24.0
pycldf==1.23.0
pyedictor==0.3
Pygments==2.10.0
pyparsing==3.0.6
python-dateutil==2.8.2
python-igraph==0.9.8
PyYAML==6.0
rfc3986==1.5.0
scikit-learn==1.0.1
scipy==1.7.2
six==1.16.0
tabulate==0.8.9
texttable==1.6.4
threadpoolctl==3.0.0
tqdm==4.62.3
traitlets==5.1.1
uritemplate==4.1.1
wcwidth==0.2.5
