appdirs==1.4.4
attrs==21.4.0
clldutils==3.11.1
colorlog==6.6.0
coverage==6.3.2
csvw==2.0.0
cycler==0.11.0
distlib==0.3.4
filelock==3.6.0
fonttools==4.31.2
git-python==1.0.3
gitdb==4.0.9
GitPython==3.1.27
igraph==0.9.9
iniconfig==1.1.1
isodate==0.6.1
joblib==1.1.0
kiwisolver==1.4.2
latexcodec==2.0.1
lexibase==0.1.0
lingpy==2.6.9
lingrex==1.2.0
matplotlib==3.5.1
networkx==2.7.1
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pybtex==0.24.0
pycldf==1.25.1
pyedictor==0.4
pyparsing==3.0.7
pytest==7.1.1
pytest-cov==3.0.0
python-dateutil==2.8.2
python-igraph==0.9.9
PyYAML==6.0
rfc3986==1.5.0
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
smmap==5.0.0
tabulate==0.8.9
texttable==1.6.4
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tox==3.24.5
tqdm==4.64.0
uritemplate==4.1.1
virtualenv==20.14.0
